<h1>Владельцы автомобилей</h1>
<div class="mb-3">
  <button (click)="openAdd()" class="me-5">
    <img src="/assets/image/add_black.svg" class="me-1">
    <span>Добавить</span>
  </button>
  <button [disabled]="!currentOwnerId" (click)="openView()">
    <img src="/assets/image/remove_eye.svg" class="me-1">
    <span>Просмотр</span>
  </button>
  <button [disabled]="!currentOwnerId" (click)="openEdit()">
    <img src="/assets/image/edit_black.svg" class="me-1">
    <span>Редактировать</span>
  </button>
  <button [disabled]="!currentOwnerId" (click)="delete()">
    <img src="/assets/image/delete_black.svg" class="me-1">
    <span>Удалить</span>
  </button>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Имя</th>
      <th scope="col">Фамилия</th>
      <th scope="col">Отчество</th>
      <th scope="col">Количество автомобилей</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let owner of owners" [class.bg]="currentOwnerId === owner.id" (click)="currentOwnerId = owner.id">
      <td>{{owner.name}}</td>
      <td>{{owner.surname}}</td>
      <td>{{owner.patronymic}}</td>
      <td>{{owner.aCars.length}}</td>
    </tr>
  </tbody>
</table>